body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.savings-form {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.calculate-button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.calculate-button:hover {
  background-color: #0056b3;
}

.result {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tabs button {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f4f4f9;
  cursor: pointer;
}

.tabs button.active {
  background-color: #007bff;
  color: white;
}

.tabs button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.year-details {
  text-align: center;
  margin-top: 10px;
}

.filter-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.scrollable-window {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.scrollable-window div {
  margin-bottom: 20px;
}

.images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.images img {
  max-width: 200px;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.charts {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

canvas {
  max-width: 100%;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-container {
  width: 33.33%; /* 2/6 of the width */
}

.results-container {
  width: 66.67%; /* 4/6 of the width */
  display: flex;
  flex-direction: column;
}

.charts canvas {
  width: 100% !important;
  height: auto !important;
}